<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <a mat-list-item routerLink="/">
        <i class="material-icons">home</i>
        Home
      </a>
      <a mat-list-item routerLink="/">
        <i class="material-icons">code</i>
        github
      </a>
      <a mat-list-item routerLink="/">
        <i class="material-icons">person</i>
        Teste
      </a>
      <a mat-list-item routerLink="/">
        <i class="material-icons">home</i>
      </a>
     </mat-drawer>
  
    <div class="sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container>
  